<div>
    {{#if hasLink}}
    <a class="p-link" href="{{details.intelCard}}">View in Recorded Future</a>
    {{/if}}

    <div class="indicator">
            <div class="tic-gauge-container">
                <svg x="0" y="0" width="50%" height="50%" viewBox="0 0 55 50">
                    <g transform="translate(28,25)">
                        <g>
                            <circle r="{{elementRadius}}" stroke="#eee" transform="rotate(-90)" fill="#fff"
                                    stroke-width="{{elementStrokeWidth}}"
                                    cx="0"
                                    cy="0"></circle>
                            {{!-- this is the inner circle --}}
                            {{!-- stroke=<color> is the inner circle color --}}
                            <circle stroke-dasharray="{{elementCircumference}}" r="{{elementRadius}}"
                                    stroke="{{elementColor}}"
                                    transform="rotate(-90)" fill="none"
                                    stroke-dashoffset="{{elementStrokeOffset}}"
                                    stroke-width="{{elementStrokeWidth}}" cx="0"
                                    cy="0"></circle>
                            <text text-anchor="middle" x="0" y="5" fill="{{elementColor}}"
                                  font-size="13">{{details.risk.score}}</text>
                        </g>
                    </g>
                </svg>
            </div>
        </div>

    <div>
        <h1 class="p-title">
            Risks
        </h1>
        <div>
            <span class="p-key">Criticality</span>
            <span class="p-value">{{details.risk.criticalityLabel}}</span>
        </div>
        <div>
            <span class="p-key">Rules Summary</span>
            <span class="p-value">{{details.risk.riskSummary}}</span>
        </div>
        <div>
            <span class="p-key">Score</span>
            <span class="p-value">{{details.risk.score}}</span>
        </div>
    </div>

    <div>
        <h1 class="p-title">
            Risk Details
        </h1>
        {{#each details.risk.evidenceDetails as |evidence|}}
        <div>
            <div class="p-key">{{evidence.rule}}</div>
            <div class="p-value">{{evidence.evidenceString}}</div>
        </div>
        <br />
        {{/each}}
    </div>

    {{#if hasLocation}}
    <h1 class="p-title">
        Location
    </h1>
    <div>
        <span class="p-key">Country</span>
        <span class="p-value">{{details.location.location.country}}</span>
    </div>
    <div>
        <span class="p-key">City</span>
        <span class="p-value">{{details.location.location.city}}</span>
    </div>
    <div>
        <span class="p-key">Organization</span>
        <span class="p-value">{{details.location.organization}}</span>
    </div>
    {{/if}}

    {{#if hasSightings}}
    <div>
        <h1 class="p-title">
            Sightings
        </h1>
        {{#each details.sightings as |sighting|}}
        <div>
            <span class="p-key">Title</span>
            <span class="p-value">{{sighting.title}}</span>
        </div>
        <div>
            <span class="p-key">Source</span>
            <span class="p-value">{{sighting.source}}</span>
        </div>

        <a class="p-link" href="{{sighting.url}}">View source</a>
        <br />
        <br />
        {{/each}}
    </div>
    {{/if}}
</div>